.card {
  margin: 14px;
  background-color: black;
  width: 320px;
  height: 260px;
  box-shadow: 5px 5px 15px 5px rgba(226, 230, 17, 0.43);
  -webkit-box-shadow: 5px 5px 15px 5px rgba(226, 230, 17, 0.43);
  -moz-box-shadow: 5px 5px 15px 5px rgba(226, 230, 17, 0.43);
}

.card-footer {
  text-align: right;
}
